{% extends 'base.html' %}

{% block content %}
<form method="POST" class="min-h-screen grid grid-cols-1 place-content-center text-center gap-y-1">
    <div><input name="username" type="text" class="input input-bordered wide bg-base-300" placeholder="Username" required></div>
    <div><input name="password" type="password" class="input input-bordered wide bg-base-300" placeholder="Password" required></div>
    <div><button type="submit" class="btn btn-lg btn-primary wide">login</button></div>
</form>
{% endblock %}