{% extends 'base.html' %}

{% block content %}
<form method="POST" class="min-h-screen grid grid-cols-1 place-content-center text-center gap-1">
    <div><input class="wide rounded-none h-9 p-2 border bg-stone-800 border-stone-500 hover:border-stone-400" type="text" name="username" placeholder="Username"></div>
    <div><input class="wide rounded-none h-9 p-2 border bg-stone-800 border-stone-500 hover:border-stone-400" type="password" name="password" placeholder="Password"></div>
    <div><button type="submit" class="wide rounded-none bg-stone-200 text-stone-900 hover:bg-stone-300 h-10">Login</button></div>
</form>
{% endblock %}