<div>
    <div class="w-full text-2xl capitalize bg-neutral text-neutral-content rounded-t-md p-1 px-2">create yank</div>
    <div class="bg-base-300 p-2 rounded-b-md">
        <form method="POST" action="{{ url_for('main.create_yank') }}">
            <input class="input input-bordered w-full h-9 p-2 text-xl lowercase" type="text" name="imdb_id"
                placeholder="tt1548765">
        </form>
        <div class="mt-2 flex items-center">
            <div class="text-sm">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <span class="text-yellow-500" style="font-family: consolas;">{{ message }}</span>
                {% endfor %}
                {% else %}
                <span style="font-family: consolas;">Enter IMDB_ID</span>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>