<div class="bg-base-300 rounded-md">
    <div class="w-full text-2xl capitalize bg-neutral text-neutral-content rounded-t-md p-1 px-2">search yank</div>
    <div class="p-2">
        <form method="POST" action="{{ url_for('main.search') }}">
            <input class="input input-bordered w-full h-9 p-2 text-xl capitalize" type="text" name="query"
                placeholder="Yank name...">
        </form>
    </div>
    <div class="p-2">
        {% if results %}
        <div class="flex flex-wrap">
            {% for result in results %}
            <a href="/yank/{{ result.id }}" class="mr-1 f-bold btn btn-info btn-sm capitalize">
                {{result.title}}
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>