<div>
    <div class="w-full text-2xl capitalize bg-neutral text-neutral-content rounded-t-md p-1 px-2">todo list</div>
    <div class="p-2 bg-base-300 rounded-b-md">
        <form method="POST" action="{{ url_for('main.create_todo') }}">
            <input class="input input-bordered w-full h-9 p-2 text-xl capitalize" type="text" name="message" placeholder="Todo..." >
        </form>

        {% if todo_list %}
        <div class="text-md capitalize mt-2 opacity-90">
            <ol class="list-decimal	list-inside">
                {% for todo in todo_list %}
                <form method="POST" action="{{ url_for('main.delete_todo', id=todo['id']) }}" class="text-md capitalize opacity-90">
                    <li><input class="hover:line-through hover:text-red-400 cursor-pointer capitalize" type="submit" value="{{ todo['message'] }}"></li>
                </form>
                {% endfor %}
            </ol>
        </div>
        {% else %}
        <div class="text-center opacity-50 text-3xl">...</div>
        {% endif %}
    </div>
</div>